@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    
}
/*! utility */
.debug
{
    background-color: lightblue;
}
.lighter-p
{
    background-color: #FFCCFF;
}

.bg-blue
{
    background-color: rgb(88, 88, 220);
    color: whit;
}
.bg-lightblue
{
    background-color: lightblue;
}

/* ?header */
header
{
    background-color: #64a5e8;
}
#logo
{
    width: 200px;
    padding: 40px 0px 10px 10px;
}
/* ?main */

.sub
{
    color: lightgray; 
    font-size: 16px;
}
.sub2
{
    color: lightgray;
    font-size: 12px;
}
main a
{
    text-decoration: none;
}

.tim-info
{
    font-size: 10px;
}

div
{
    padding: 10px 10px 10px 10px;
}

.square
{
    margin-top: 10px;
    height: 180px;
    width: 250px;
}

.sq1
{
    background-image: url("../html-css-booleaner/img/monitor.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.sq2
{
    background-image: url("../html-css-booleaner/img/graph.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

section h4
{
    padding: 20px;
    color: white;
}
